<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
	<rewrite>
	    <rules>
                <remove name="wordpress" />
	                <rule name="posts" stopProcessing="true">
	                    <match url="^blog/post/(\S+)$" />
	                    <action type="Rewrite" url="posts.php?id={R:1}" />
	                </rule>
	                <rule name="pages" stopProcessing="true">
		                <conditions>
	                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
	                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
	                    </conditions>
	                    <match url="^(\S+)$" />
	                    <action type="Rewrite" url="index.php?url={R:1}" />
	                </rule>
	    </rules>
	</rewrite>
  </system.webServer>
</configuration>